body{
  margin:0;
  background-color: #afdfe8;
  text-align: center;

}
h1{
}
.top-container{
    margin: auto;
    position: relative;
    top: 50px;
}
 .middle-container{
    margin: auto;
 }
 .bottom-container{
    margin: auto;
 }
.cloud-right{
    position: absolute;
    right: 300px;
}
.cloud-left{
    position: absolute;
    left: 300px;
    top: 200px;
}
.mountain{
    position: relative;
    top: 100px;
}